/* CORPÃO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #0b0b0b;
    height: 100vh;
}

.interface {
    max-width: 1400px;
    margin: 0 auto;
}

/* CABEÇA */
.txttop {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    padding-top: 25%;
    max-width: 800px;
}
.paragrafo {
    color: #5B58FF;
    font-weight: 600;
}
main .topo button:hover {
    transform: scale(1.05);
    transition: 0.5s;
    filter: drop-shadow(0px 0px 10px #0E2260);
    background-color: #003aad;
    border-radius: 26px;
}
main .topo img {
    max-width: 400px;
    position: absolute;
    top: 200px;
    right: 180px;
    filter: drop-shadow(0px 0px 20px #0e2260);
    pointer-events: none;
    user-select: none;
}
.topo a {
    text-decoration: none;
}
main .topo a {
    display: block;
    height: 0;
}
h1 .topo span {
    color: #5B58FF;
}
main .topo button {
    padding: 13px 4%;
    display: flex;
    border: 2px solid #0E2260;
    font-size: 26px;
    cursor: pointer;
    border-radius: 15px;
    text-decoration: none;
    background-color: transparent;
    font-weight: 500;
    position: relative;
    top: 40px;
    left: -10px;
    text-align: right;
    color: #fff;
    transition: 0.5s;
}
main .topo a {
    padding: 17px 17px;
    color: #fff;
    align-items: center;
    display: flex;
}
@keyframes flutuar {
    0% {
        top: 0;
    }
    100% {
        top: 30px;
    }
}
main .topo img {
    position: absolute;
    right: 160px;
    padding-top: 200px;
    animation: flutuar 2s ease-in-out infinite alternate;
}
.especialidades {
    max-width: 1400px;
}
.especialidades .interface h2 {
    position: relative;
    top: 300px;
    left: 700px;
    color: #fff;
    font-size: 40px;
}
.titulo span {
    color: #5B58FF;
}
::-webkit-scrollbar {
    display: none;
}
.especialidades .cssicon {
    max-width: 158.8px;
    position: relative;
    left: 500px;
    filter: drop-shadow(0px 0px 20px #004CE8);
}
.especialidades .htmlicon {
    max-width: 127px;
    position: relative;
    top: 400px;
    left: 1300px;
    filter: drop-shadow(0px 0px 20px #FF4B00);
}
.especialidades img {
    position: relative;
    left: 800px;
    top: 600px;
    pointer-events: none;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.especialidades li {
    color: #fff;
    font-weight: 600;
    font-family: 'Open-Sans', sans-serif;
    position: relative;
    top: 620px;
    max-width: 210px;
    left: 500px;
}
.cxs {
    color: #004CE8;
}
.cxs2 {
    position: relative;
    padding-top: 10px;
}
.cxs3 {
    color: #FF4B00;
}
.rfx1 {
    position: relative;
    top: -205px;
    left: 780px;
}
.cxs4 {
    padding-top: 10px;
}
.curriculo button {
    color: #fff;
    background: linear-gradient(to right, #004CE8, #85770d , #FF4B00); 
    border: none;
    border-radius: 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    font-weight: 600;
    padding: 13px 50px;
    cursor: pointer;
    position: relative;
    top: 500px;
    left: 720px;
    user-select: none;
    transition: 0.5s;
}
.curriculo button:hover {
    transform: scale(1.05);
}
.curriculo a {
    color: #fff;
    text-decoration: none;
    padding: 5px 200px;
    position: relative;
    left: -160px;
    top: -3px;
    font-size: 28px;
}
.aer1 {
    position: relative;
    margin-top: -120px;
}
.aer1 button {
    position: relative;
    margin-top: 70px;
}
.sobremim h3 {
    color: #fff;
    font-size: 40px;
    position: relative;
    top: 800px;
    left: 820px;
    max-width: 250px;
}
.tgx1 {
    color: #5B58FF;
}
.sobremim .imagem img {
    max-width: 400px;
    filter: drop-shadow(0px 0px 30px #0e2260);
    animation: flutuar 2s ease-in-out infinite alternate;
    position: relative;
    padding-top: 900px;
    user-select: none;
    pointer-events: none;
}
.sobremim p {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    max-width: 900px;
    font-size: 27px;
    position: relative;
    top: -230px;
    left: 500px;
}
.pxs1 {
    color: #5B58FF;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}
.plx1 {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid #0E2260;
    cursor: pointer;
    position: relative;
    left: 880px;
    top: 30px;
}
svg {
    color: #fff;
    position: relative;
    top: 3px;
}
.plx1:hover {
    transform: scale(1.10);
    transition: 0.5s;
    filter: drop-shadow(0px 0px 5px #0e2260);
    background-color: #1034a0;
}
.plx2 {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid #0E2260;
    cursor: pointer;
    position: relative;
    left: 940px;
    top: 30px;
}
.plx2:hover {
    transform: scale(1.10);
    transition: 0.5s;
    filter: drop-shadow(0px 0px 5px #0e2260);
    background-color: #1034a0;
}
.plx3 {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid #0E2260;
    cursor: pointer;
    position: relative;
    left: 1000px;
    top: 30px;
}
.plx3 svg {
    width: 25px;
    height: 25px;
}
.plx3:hover {
    transform: scale(1.10);
    transition: 0.5s;
    filter: drop-shadow(0px 0px 5px #0e2260);
    background-color: #1034a0;
}
.redes {
    position: relative;
    left: -20px;
}
.redes button {
    transition: 0.4s ease;
}
.redes a {
    display: block;
    max-width: 0;
    max-height: 0;
}
.pb {
    max-height: 100px;
    user-select: none;
    pointer-events: none;
}
.sar {
    margin-top: 140px;
}
.sar2 p {
    position: relative;
    top: 1000px;
}
.sar2 img {
    position: relative;
    margin-top: -200px;
}
.redes {
    margin-top: 200px;
}
h3 {
    max-width: 200px;
}
h2 {
    white-space: nowrap;
    max-width: 0;
    margin-left: 20px;
}
.rfx1 {
    max-width: 200px;
}
.jsicon{
    max-width: 120px;
    filter: drop-shadow(0px 0px 20px #f7df1e);
    position: relative;
    margin-top: -400px;
    margin-left: 110px;
}
.cxs8{
    color: #f7df1e;
}
.cxs9{
    margin-top: 10px;
}
.rfx2{
    position: relative;
    margin-top: 0px;
    margin-left: 380px;
}
.aer1{
    position: relative;
    left: -30px;
}
a{
    white-space: nowrap;
    position: relative;
    z-index: 1;
    display: inline-block;
    max-width: 0px;
    max-height: 0px;
}
.btt1{
    min-width: 350px;
    justify-content: center;
}
.aer1{
    left: -17px;
}
.Curriculo button{
    text-decoration: none;
    font-weight: 600;
    background: linear-gradient(to right, #004CE8, #85770d, #FF4B00);
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 24px;
    transition: .5s;
    margin-left: 770px;
    margin-top: 750px;
}
.Curriculo button:hover{
    transform: scale(1.05);
    transition: .5s;
    border-radius: 20px;
}
.sar2{
    margin-top: -500px;
}
#t2, #p1{
    margin-left: 29px;
}
.redes{
    margin-left: 15px;
}
@media screen and (max-width: 750px) {
    .interface{
        margin-top: -600px;
    }
    .flex {
        flex-direction: column;
    }
    h1 {
        position: relative;
        left: -4px;
    }
    main .topo img {
        position: relative;
        animation: none;
        top: 200px;
        left: -13px;
    }
    .Contato a {
        position: absolute;
        margin-top: 250px;
        pointer-events: all;
        z-index: 10;
        max-width: 350px;
        max-height: 300px;
        display: block;
    }
    .menu-desktop {
        display: none;
    }
    .titulo {
        position: relative;
        left: -670px;
        top: 700px;
    }
    .aer1 {
        position: relative;
        top: 400px;
    }
    .especialidades .cssicon {
        position: relative;
        left: 70px;
        top: 750px;
        max-width: 250px;
    }
    .especialidades li {
        position: relative;
        left: 110px;
        top: 800px;
    }
    .especialidades .htmlicon {
        position: relative;
        top: 900px;
        left: 100px;
        max-width: 180px;
    }
    .especialidades .rfx1 {
        position: relative;
        top: 160px;
        left: 0;
    }
    h1 {
        padding-left: 1.5vh;
        text-align: center;
    }
    .interface p {
        padding-left: 4vh;
        max-width: 370px;
        text-align: center;
        margin-top: 10px;
    }
    h2 {
        text-align: center;
        position: relative;
        white-space: inherit;
        display: inline;
        margin: 0;
        margin-left: 80px;
    }
    h2 span {
        margin-left: 10px;
    }
    .curriculo a {
        position: relative;
        right: 705px;
        top: 590px;
    }
    .curriculo button {
        padding: 15px 20px;
        font-size: 20px;
        position: relative;
        left: 0;
        margin-top: 20px;
    }
    h3 {
        position: relative;
        margin-left: -735px;
        margin-top: 300px;
        max-width: 250px;
    }
    .sobremim p {
        position: relative;
        left: 20px;
        max-width: 360px;
        top: 850px;
        font-size: 24px;
        padding-left: 1vh;
    }
    .sobremim .imagem {
        position: relative;
        margin-top: -5px;
        left: -20px;
    }
    .redes a {
        position: relative;
        left: -760px;
        top: 70px;
    }
    .pb {
        position: relative;
        margin-top: 100px;
        user-select: none;
        pointer-events: none;
        cursor: default;
    }
    main .Contato a {
        display: flex;
        position: relative;
        top: 0;
        left: -30px;
        box-sizing: border-box;
    }
    main .Contato button {
        position: relative;
        left: 35px;
        margin-top: 440px;
        pointer-events: all;
    }
    .sar {
        margin-top: -280px;
    }
    main .curriculo button {
        position: relative;
        margin-top: 580px;
        margin-left: -690px;
        padding: 14px 20px;
        font-size: 25px;
        pointer-events: all;
    }
    main .curriculo a {
        position: relative;
        left: 730px;
        top: -50px;
        z-index: 1;
    }
    .sar2 {
        position: relative;
        margin-top: -130px;
    }
    main .sar2 img {
        position: relative;
        animation: none;
        margin-top: 0;
    }
    .redes {
        margin-top: 0;
    }
    .war1 {
        position: relative;
        margin-left: 10px;
    }
    body button {
        pointer-events: all;
        cursor: pointer;
    }
    .jsicon{
        margin-left: -690px;
        margin-top: 450px;
        max-width: 160px;
    }
    .rfx2{
        margin-left: 0px;
        margin-top: -140px;
    }
    .curriculo button{
        position: absolute;
        top: 800px;
    }
    .sar2{
        margin-top: 700px;
    }
    .aer1{
        left: 0px;
    }
    .especialidades #t1{
        position: relative;
        margin-left: 86px;
    }
    .especialidades h2 span{
        margin-left: 20px;
    }
    h1{
        margin-top: -50px;
        max-width: 350px;
        left: 20px;
    }
    .btt1{
        min-width: 350px;
    }
    .Curriculo button{
        margin-left: 15px;
        margin-top: 1300px;
    }
    .sar2{
        margin-top: -900px;
    }
    .Contato a{
        max-width: 0px;
        max-height: 0px;
    }
    main #mob p{
        color: #fff;
        background-color: #ff0000;
        text-align: center;
        min-width: 400px;
        font-size: 20px;
        position: relative;
    }
    #p1{
        margin-left: 0px;
    }
    #t2{
        margin-left: -735px;
    }
}